* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: #23292e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline-color: #F99BCC;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@media(max-width: 1440px){

}

html, body{
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.woff2) format('woff2'), url(../fonts/Inter-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.woff2) format('woff2'), url(../fonts/Inter-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.woff2) format('woff2'), url(../fonts/Inter-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-ExtraBold.woff2) format('woff2'), url(../fonts/Inter-ExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: normal
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.woff2) format('woff2'), url(../fonts/Inter-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}